:root {

    --colourOne: #156082;
    --colourTwo: #F27050;
    --colourThree: #FFC636;
    --colourHover: #fff;
}

* {
    box-sizing: border-box;
}

header {
    inline-size: 100%;
    position: absolute;
    inset-inline-start: 0;
    inset-inline-end: 0;
    background-color: var(--colourOne);
    border-block-start: solid var(--colourTwo);
    Border-block-end: solid var(--colourTwo);
    box-sizing: border-box;
    }

header img {
    display: block;
    position: relative;
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin-block-end: 0;
    margin-block-start: 0px;
    padding: 5px;
}

img:first-child {
    height: 180px;
    width: auto;
}

.nav {
    position: relative;
    top: -2px;
    left: 0px;
}

nav,
ul,
li {
    text-align: left;
    list-style-type: none;
    padding: 2px;

    a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: clamp(1em, 1vi+1.1em, 1.3em);
        color: var(--colourThree);
        text-decoration: none;
    }

    a:hover {
        color: var(--colourHover);
        text-decoration: underline;
    }
}

div li:nth-child(4) {
    display: none;
}
.header,
div.header a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-style: italic;
    color: var(--colourThree);
    text-align: right;
    text-decoration: none;
}

main {
    padding-top: 20px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1em, 1vi+1.1em, 1.3em);
    text-align: justify;
    inline-size: 100%;
}

h1,
h2,
h3 {
    color: var(--colourOne);
}

footer {
    background-color: var(--colourOne);
    border-block-start: solid var(--colourTwo);
    margin-inline-start: 0;
    margin-inline-end: 0;
    inline-size: 100%;
    min-width: 350px;
    overflow: auto;
    padding: 10px;
}

.footer {
    text-align: center;
    padding-bottom: 5px;
}

.footer nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer a {
    color: var(--colourThree);
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1em, 1vi+1.1em, 1.3em);
    text-decoration: none;
}

.footer a:hover {
    color: var(--colourHover);
    text-decoration: underline;
}

.footer address {
    text-align: center;
}

.footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1em, 1vi+1.1em, 1.3em);
    color: var(--colourThree);
    margin: 5px 0;
    padding: 2px 0;
    text-align: center;
}

.footer small {
    color: var(--colourThree);
}

@media (min-width: 768px) {
div li:nth-child(4) {
    display: inline;
}
}
