.testimonials,
main.testimonials h1, h2, h3 {
    inline-size: 80%;
    margin-inline-start: 5%;
}

main.testimonials p{
    inline-size: 80%;
    margin-inline-start: 10%;
    font-style: italic;
    padding: 2%;
}

.video{
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 2%;
}

